
<meta name="viewport" content="width=device-width, initial-scale=1.0">

.normalize.css

body{
    background-color: #f2f2f2;
}
p{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;


}
ul{
    text-align:center;
    list-style-type: none;
}
li{
    font-size:22px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#intro{
    background-color: white;
    margin:50px;
    padding: 40px;
    border-color: #33334C;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
}

h2{
    display: block;
    width:100%;
    padding-top: 70px;
    padding-bottom: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}



.articles {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;

}
#article1{
    width: 50%;
    height: auto;

    float: left;
    font-size:25px;
    border-color: #33334C;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
}
#article2{
    margin-left: 52.75%;
    width: 47.5%;
    height: auto;
        font-size:25px;
        border-color: #33334C;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
}
 
 .eve {
    display: block;
    margin: auto;
    width: 65%;

 }

.logo{
    background-color: white;
    width: 98%;
    margin-left:0px;
	margin-top:85px;
    padding-left:20%;

}
.gl {
    box-sizing: border-box;
    display:inline-block;

}
.imggal{
    width: 300px;
    height: 200px;
    margin: 20px 15px;
    padding:10px;
/*    border-color: #33334C;
    border-radius: 5px;
    border-style: double;
    border-width: 20px;*/
    border-color: #33334C; 
    border-style: solid;   
    border-radius:5px;
    border-width: 5px;


}
#Contact{
    margin-bottom: -50px;
    padding-bottom: -50px;
}
#overlay {
    box-sizing: border-box;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overimg{
    box-sizing: border-box;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: auto;
}
form{
    margin: 50px;
}


#social {
    width:100%;
    height:75px;
    border-radius: 5px;
    padding: 5px;

}

#bottom{
    font-size:15px;
    margin-top:0;
    margin-bottom:5px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#twitter{
    width: 4%;
        height: auto;
        background-repeat: no-repeat;
            margin-left:10%;
    margin-right: 10%;
}
#facebook{
    width: 4%;
        height: auto;
            margin-left:10%;
    margin-right: 10%;
    background-repeat: no-repeat;
/*    background-size: 100px 100px;*/
}
#snapchat{
    width: 4%;
        height: auto;
    background-repeat: no-repeat;
                margin-left:10%;
    margin-right: 10%;
/*    background-size: 100px 100px;*/
}

#linkedin{
    width: 4%;
        height: auto;
    background-repeat: no-repeat;
                margin-left:10%;
    margin-right: 10%;
/*    background-size: 100px 100px;*/

}


















/*

@media (max-width: 8000px) {

body{
    background-color: #f2f2f2;
}
p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}


h2{
    display: block;
    width:100%;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

li1 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 30px;
    font-size: 16px;

}

li2 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;
    font-size: 16px;

}

.articles {
    -webkit-columns: 100px 2;
    -moz-columns: 100px 2;
    columns: 100px 2;
    margin-top: 25px;
    font: 400 18px/0.8 'Cookie', Helvetica, sans-serif;
    line-height: 25px;
    background-color: #f2f2f2;

}




.logo{
    background-color: white;
    width: 83%;
    margin-left:0px;
    margin-top:50px;
    padding-left:240px;
    
}
.gl {
    box-sizing: border-box;
    display:inline-block;
}



#social {
    width:400px;
    height:477px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    float:left;
}
#twitter{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
}
#facebook{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
/*    background-size: 100px 100px;*/
/*}
#snapchat{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;*/
/*    background-size: 100px 100px;*/
/*}
*/
/*#linkedin{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;*/
/*    background-size: 100px 100px;*/
/**/





/*}
}*/