p{

}
ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
 /*   margin: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}


.logo{
	padding-top: 50px;
	padding-left: 250px;
}
.gallery{
	padding-top: 100px;
	padding-left: 450px;
}
h2{ 
	padding-top: 100px;
	 }